.wrap {
    margin : auto;
    width: 800px;
    height : 1200px;
}

.main-image {
    height: 450px;
    align-self: center;

}

.intro {
    height: 200px;    
}

.order {
    height: 400px;
    margin-top: 10px;
}

.font1 {
    font-family: 'Nanum Gothic Coding', monospace;
    font-size : 35px;
    color : rgb(7, 2, 82);
}

.font2 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size:23px;
    color : rgb(7, 2, 82);
    text-align: left;
}

.font3 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size:23px;
    color : rgb(7, 2, 82);
}

.dic1 {
    width:400px; 
    height:100px; 
    float:left; 
    margin-right:10px;
}

.dic2 {
    width:600px; 
    height:80px; 
}

.dic3 {
    width:800px; 
    height:150px; 
    float:left; 
    margin-right:auto;
}
